:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    display: grid;
}

#container {
    width: 1188px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: grid;
}

#sister-sites {
    background-color: red;
    gap: 100px;
}

#primary-header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

#primary-nav {
    background-color: yellow;
}

#ad-banner {
    background-color: green;
    width: 1188px;
    height: 290px;
}
